img {width: 100%;}
header, main {max-width: 460px; margin: 0 auto;}
header h1 {width:200px;}
main h2 {margin: 20px 0;}
main .movie_wrap1 {margin-bottom: 100px;}
main .movie_wrap1 {display: flex; flex-flow:row wrap;}
main .movie_wrap1 li {width:33.33%;}
main .movie_wrap2 {display: flex; flex-flow:row wrap;}
main .movie_wrap2 li {width:25%;}